body{
    background-color: rgb(216, 216, 216);
}

.container{
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header-container{
    width: 1000px;
}

.detail-container{
    background-color: rgb(27, 34, 78);
    color: #fff;
    height: 200px;
    position: relative;
}

.profile-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: #fff 5px solid;
    position: absolute;
    bottom: -50px;
    left: 30px;
}

.profile-image>img{
    height: 100%;
    max-width: 100%
    max-height: 100%
}

.header-nav{
    background-color: #fff;
}

.detail{
    position: absolute;
    bottom: 0;
    left: 220px;
    text-align: left;
    width: 780px;
}

.edit-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
}